/* --ABOUT-- */

.containerright {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding-left: 90px;
  padding-right: 100px;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 16pt;
  height: 100%;
  text-align: center;
}
.title {
  color: #787878;
  text-align: left;
  font-size: 1em;
  margin-bottom: 0px;
  font-weight: normal;
  line-height: 1.5em;
  margin-top: 50px;
}

.resume {
  text-align: left;
  margin-top: 60px;
}
.company a {
  font-size: 30px;
  color: #e16969;
  width: fit-content;
}
.company a:hover {
  color: #49bf9d;
  transition: 400ms;
}

.jobList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  margin-bottom: 0px;
}
.job {
  width: fit-content;
  display: flex;
  align-items: flex-start;
}
.company p,
.company h3,
.job h5,
.job p {
  margin: 0px;
}
.job h5 {
  font-size: 20px;
  margin-top: 5px;
  color: #787878;
}
.job p,
.company p {
  font-size: 16px;
  margin-top: 5px;
}

.message {
  color: #a2a2a2;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.75em;
  align-items: center;
  letter-spacing: 1px;
  margin-top: 30px;
}
.impt {
  color: #77918f;
}
.line {
  margin-top: 20%;
  margin-bottom: 10%;
  border-top: 2px solid rgba(131, 130, 130, 0.198);
}

@media (max-width: 1024px) {
  .message {
    font-size: 14px;
    margin-top: 60px;
  }
}
@media (max-width: 768px) {
  .message {
    margin-top: 110px;
  }
}
@media (max-width: 425px) {
  .message {
    margin-top: 80px;
  }
  .containerright {
    padding: 0px 40px;
  }
  .job{
    text-align: left;
  }
  .job h5{
    font-size: 16px;
  }
  .job p{
    font-size: 14px;
  }
}
@media (max-width: 320px) {
  .containerright {
    padding: 0px 30px;
  }
  .message {
    margin-top: 60px;
  }
}
