/* --MAIN-- */

.mainContainer {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding-left: 90px;
  padding-right: 100px;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 16pt;
  text-align: right;
  height: 100%;
}

.title {
  color: #787878;
  text-align: left;
  font-size: 1em;
  margin-bottom: 20px;
  font-weight: normal;
  line-height: 1.5em;
}

.message {
  color: #a2a2a2;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.75em;
  align-items: center;
  letter-spacing: 1px;
}

/* --CONTACT-- */

.contactContainer {
  display: flex;
  align-items: flex-start;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  padding-bottom: 20%;
  margin-top: 20px;
}

.emailIcons {
  margin-left: 70px;
  font-size: 15px;
  display: flex;
  flex-flow: row wrap;
  width: 250px;
  color: #a2a2a2;
}
.emailIcons * {
  margin: 10px 0px;
  font-size: 18px;
}
.emailIcons i {
  width: 13%;
}
.emailIcons p,
.emailIcons a {
  width: 80%;
  color: #a2a2a2;
}
.country {
  line-height: 2.5em;
}

.emailIcons a:hover {
  color: #49bf9d;
  transition: 400ms;
}

@media (max-width: 1024px) {
  .message {
    font-size: 14px;
  }
  .contactContainer {
    flex-direction: column;
  }
  .emailIcons {
    margin-top: 35px;
    font-size: 14px;
    margin-left: 0px;
  }
  .emailIcons * {
    margin: 0px 0px;
  }
  .emailIcons > p {
    margin-bottom: 15px;
  }
  .country {
    line-height: 1.5em;
  }
}
@media (max-width: 425px) {
  .mainContainer {
    padding: 0px 40px;
  }
}
@media (max-width: 320px) {
  .mainContainer {
    padding: 0px 30px;
  }
}
