/* --LEFT-- */

.containerleft {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 16pt;
  text-align: right;
  height: 100%;
}

.bonjour {
  color: #ffffff91;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 21.6px;
  font-weight: 500;
  line-height: 1.5em;
  padding-top: 37%;
  padding-bottom: 60%;
  padding-right: 60px;
  letter-spacing: 1px;
}
.bonjourp{
  margin:0px;
}

.sam {
  color: white;
}

.lefticons {
  padding: 0px 60px;
  font-size: 25px;
}

.lefticons a {
  color: #ffffff80;
  margin-left: 5%;
}
.lefticons a:hover {
  color: #49bf9d;
  transition: 400ms;
}

.name {
  margin-top: 20px;
  font-size: 13px;
  letter-spacing: 0.5px;
  color: #ffffff80;
}

@media (max-width: 768px) {
  .containerleft {
    text-align: unset;
    text-align: right;
    padding-right: 5%;
    height:170px
  }
  .bonjour {
    font-size: 20px;
    padding-top: 10%;
    padding-bottom: 0%;
    margin-bottom: 2%;
    padding-right: 0px;
  }
  .name {
    display: none;
  }
  .lefticons {
    padding-bottom: 2%;
    font-size: 20px;
    padding-right: 0px;
    margin-right: 5px;


  }
}
