/* --LEFT-- */

.containerleft {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 16pt;
  text-align: right;
  height: 100%;
}

.bonjour {
  color: #ffffff91;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 21.6px;
  font-weight: 500;
  line-height: 1.5em;
  padding-top: 35%;
  padding-bottom: 54%;
  padding-right: 60px;
  letter-spacing: 1px;
}

span {
  color: white;
}

.lefticons {
  color: #ffffff9b;
  padding: 0px 60px;
  font-size: 25px;
}
.lefticons a {
  margin-left: 5%;
}
.name {
  margin-top: 20px;
  font-size: 13px;
  letter-spacing: 0.5px;
  color: #ffffff80;
}

/* --RIGHT-- */

.containerright {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding-left: 90px;
  padding-right: 100px;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 16pt;
  text-align: right;
  height: 100%;
}

.fsttitle {
  color: #787878;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  padding-top: 20%;
  letter-spacing: -1.2px;
}
.title {
  color: #787878;
  text-align: left;
  font-size: 1em;
  margin-bottom: 20px;
  font-weight: normal;
  line-height: 1.5em;
}

.message {
  color: #a2a2a2;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75em;
  align-items: center;
  letter-spacing: 1px;
}

.line {
  margin-top: 10%;
  margin-bottom: 10%;
  border-top: 2px solid rgba(131, 130, 130, 0.198);
}

/* --PROJECTS-- */
.projectscontainer {
  color: black;
  list-style: none;
  display: flex;
  align-items: center;
  padding-left: unset;
  flex-flow: row wrap;
  width: 100%;
}
ul li {
  flex: 40%;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
ul li:nth-of-type(even) {
  margin-left: 20px;
}
li div {
  width: 80%;
  height: 200px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
}

/* title */
li > div:nth-of-type(even) {
  height: 10%;
  font-size: 15px;
  justify-content: left;
  border: unset;
  opacity: 100%;
  font-weight: 500;
  color: #787878;
  
}
/* description */
li div:nth-of-type(3) {
  height: 10%;
  font-size: 12px;
  justify-content: left;
  border: unset;
  margin-left: 35px;
  color: #a2a2a2;
}
li i {
  padding-right: 5px;
}
#bouton {
  color: #787878;
}

img {
  width: 100%;
  height: 100%;
  border: 3px solid #a2a2a263;
  border-radius: 5%;
}

.imgcontainer {
  position: relative;
}
.imgcontainer .after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.view {
  border: 3px solid #ddddddb6;
  padding: 10px 15px;
  color: #ddddddb6;
  border-radius: 5%;
  font-size: 15px;
  font-weight: bold;
}
.imgcontainer:hover .after {
  display: block;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --CONTACT-- */

.contactContainer {
  display: flex;
  align-items: flex-start;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  padding-bottom: 20%;
  margin-top: 20px;
}

.formstyle {
  width: 400px;
}
.formstyle input,
textarea {
  background: #f7f7f7;
  border: 0px;
  border-radius: 5px;
  color: #a2a2a2;
  font-size: 12pt;
  margin-bottom: 2px;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 20px;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 14px;
}
textarea {
  padding-bottom: 50px;
}
textarea:focus,
input:focus {
  outline: unset;
}

button {
  color: #787878;
  background-color: white;
  border: 2px solid #f7f7f7;
  border-radius: 5px;
  font-size: 15px;
  margin-top: 3%;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
button:hover {
  color: #49bf9d;
  border-color: #49bf9d;
  transition: 500ms;
}

.emailIcons {
  margin-left: 70px;
  font-size: 15px;
  display: flex;
  flex-flow: row wrap;
  width: 200px;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.emailIcons * {
  margin: 10px 0px;
}
.emailIcons i {
  width: 10%;
}
.emailIcons p {
  width: 88%;
  color: #787878;
}
