.header {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  top: 0px;
  height: 3rem;
  display: flex;
  /* background-color: #1b242f; */
  padding-top: 20px;
}

ul {
  width: 100%;
  font-size: 18px;
  letter-spacing: 1px;
  align-items: center;
  padding-left: 10%;
  padding-right: 0%;
  font-weight: 500;
  justify-content: space-evenly;
  display: flex;
}

ul > a {
  text-decoration: none;
  color: #ffffffc2;
  justify-content: space-evenly;
  opacity: 70%;

}

.po,
a:hover {
  color: #49bf9d;
  transition: 400ms;
  opacity: 100%;
}
